.DS_Store
.DS_Store?
._*
__pycache__
run.py
run2.py

.ipynb_checkpoints/
ML_Stuff/

Competition_Bundle_HEP/reference_data/
Competition_Bundle_HEP/input_data/
Competition_Bundle_HEP/*.ipynb

Competition_Bundle_HEP_Scores_Stability/input_data/
Competition_Bundle_HEP_Scores_Stability/reference_data/


Competition_Bundle_HEP_Inverted/sample_code_submission/
