.DS_Store
.DS_Store?
._*
__pycache__
run.py
run2.py

.ipynb_checkpoints/
ML_Stuff/

Competition Bundles/HEP/reference_data/
Competition Bundles/HEP/input_data/
Competition Bundles/HEP/*.ipynb

Competition Bundles/HEP_Scores_Stability/input_data/
Competition Bundles/HEP_Scores_Stability/reference_data/


Competition Bundles/HEP_Inverted/sample_code_submission/
